include dbus_uinput_bridge/*
include debian/*
include doc/*
include doc/*/*
include j2me/*
include j2me/*/*
include j2me/*/*/*
include j2me/*/*/*/*
include j2me/*/*/*/*/*
include j2me-build/*
include LBRC_gtk_gui/config.glade
include pot/*
include build_dbus_uinput_bridge
include CHANGELOG
include LBRCback.avi
include LBRCback.jpg
include lbrc.conf
include LBRCdbus.service
include LBRC.svg
include README
