Source: lbrc
Section: python
Priority: optional
Maintainer: Matthias Bläsing <matthias.blaesing@rwth-aachen.de>
Build-Depends: python (>= 2.3.5-11), debhelper (>= 5.0.37.2), cdbs, libdbus-glib-1-dev, python-all-dev, python-support
XS-Python-Version: all
Standards-Version: 3.7.3
Homepage: http://developer.berlios.de/projects/lbrc/
Vcs-Svn: svn://svn.berlios.de/lbrc/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/lbrc

Package: python-lbrc
Architecture: any
Depends: ${python:Depends}, python-dbus, python-gtk2, python-bluez, python-gnome2-extras, python-xlib
XB-Python-Version: ${python:Versions}
Description: Linux Bluetooth Remote Control
 Allows a J2ME device to control the Linux PC. This application allows:
    * injection of mouse/keyboard events into the kernel
    * execution of custom commands (commandline + dbus)
      one example for the dbus controller: control rhythmbox from your phone
    * remote volume control
    * controlling a mplayer instance
